<table>
  <thead>
    <tr>
      <th>Icône</th>
      <th>IP Address</th>
      <th>Name</th>
      <th>Status</th>
      <th>Memory</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let server of serverList" [hidden]="server.hidden">
      <td>
        <img [src]="server.imageUrl" alt="Server Image" width="70" />
      </td>
      <td>{{ server.ipAdress }}</td>
      <td>{{ server.name }}</td>
      <td>
        <ng-container
          *ngIf="server.status === Status.SERVER_DOWN; else GreenSvg"
        >
          <svg
            viewBox="131.28 116.776 25.12 25.12"
            width="25.12"
            height="25.12"
          >
            <ellipse
              style="fill: rgb(236, 0, 0); stroke: rgba(0, 0, 0, 0)"
              cx="143.84"
              cy="129.336"
              rx="12.56"
              ry="12.56"
            ></ellipse>
          </svg>
        </ng-container>
      </td>
      <td>{{ server.memory }}</td>
      <td>{{ server.type }}</td>
      <td>
        <button (click)="deleteServer(server.id)">Supprimer</button>
        <button (click)="openUpdatePopup(server)">Mettre à jour</button>
      </td>
    </tr>
  </tbody>
</table>

<!--  <p>Le texte suivant montre l'intégralité des données envoyées par le backend</p>
<div>{{ stateApp$ | async | json }}</div>-->
<ng-template #GreenSvg>
  <svg viewBox="131.28 116.776 25.12 25.12" width="25.12" height="25.12">
    <ellipse
      style="stroke: rgba(255, 255, 255, 0); fill: rgb(0, 236, 75)"
      cx="143.84"
      cy="129.336"
      rx="12.56"
      ry="12.56"
    ></ellipse>
  </svg>
</ng-template>
<app-server-popup
  *ngIf="isPopupOpen"
  [action]="'update'"
  [server]="selectedServer"
  (addNewServer)="addNewServer($event)"
  (updateServer)="onUpdateServer($event)"
  (onActionCompleted)="closeUpdatePopup()"
  (actionCompleted)="closeUpdatePopup()"
  (refreshList)="refreshServerList()"
>
</app-server-popup>

<!--<app-server-popup
  *ngIf="isPopupOpen"
  [action]="'update'"
  [server]="selectedServer"
  (addNewServer)="addNewServer($event)"
  (updateServer)="onUpdateServer($event)"
  (onActionCompleted)="closeUpdatePopup()"
  (actionCompleted)="closeUpdatePopup()"
  (refreshList)="refreshServerList()"
  <button (click)="openPopup()">Ouvrir le pop-up</button>
></app-server-popup>-->
