<head>
  <link
    href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
    rel="stylesheet"
  />
</head>
<header>
  <h1>Application de gestion de serveur</h1>
  <p>Filter from :</p>
  <button (click)="serverPopupOpen = !serverPopupOpen">
    Ajouter un serveur
  </button>
  <app-server-popup
    *ngIf="serverPopupOpen"
    [action]="'add'"
    [server]="createNewServer()"
    (actionCompleted)="serverPopupOpen = false"
    (addNewServer)="onAddNewServer($event)"
    (updateServer)="onUpdateServer($event)"
    (deleteServer)="onDeleteServer($event)"
  ></app-server-popup>
  <span>
    Récupérer liste serveurs
    <select [(ngModel)]="selectedStatus" (ngModelChange)="filterServer()">
      <option [value]="Status.ALL">All servers</option>
      <option [value]="Status.SERVER_UP">Servers up</option>
      <option [value]="Status.SERVER_DOWN">Servers down</option>
    </select>
  </span>
  <p>En savoir plus - Documentation et ajout d'éléments</p>
</header>
<div>
  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>
  <!-- <tbody>
    <td *ngFor="let server of serverListGet" [hidden]="server.hidden">
      {{ server.id }} - {{ server.ipAdress }} - {{ server.name }} -
      {{ server.status }} {{ server.memory }} {{ server.type }}
      {{ server.imageUrl }}
    </td>
  </tbody>
  <h2>FIN DU HEADER</h2>-->
</div>
